em{
    font-style: normal;
  }
  *{
    margin: 0;
    padding: 0;
  }
  ul li{
    list-style: none;
  }
  .clearfix{
    overflow: hidden;
  }
  a,a:hover,a:link,a:visited{
      text-decoration: none;
  }
  .r {
    float: right;
}
.l {
    float: left;
}
img{
    border: 0;
}
input{
  outline: none;
}